body {
    background-color: #222222; 
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-top: 170px;
}

h1, h2 {
    color: #00dfdf;
}

p {
    font-size: 18px;
    margin: 10px 20px;
    color: rgb(185, 185, 185);
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

a h2 {
    display: inline-block;
    background-color: #3b3b3b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: background 0.3s ease;
}

a h2:hover {
    background-color: #004d4d;
}
